ul {
  margin: auto;
  padding: 18px;
  background-color: white;
  li {
    cursor: pointer;
  }
  .item {
    display: block;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    // border-top-width: 0.5px;
    border-bottom-width: 0.5px;
    border-color: #538fff;
    &:hover {
      background-color: #538fff;
      color: white;
      // border-radius: 25px;
    }
  }
}

.example-viewport {
  height: 200px;
  width: auto;
}

.example-viewport::-webkit-scrollbar {
  display: none;
}
