<div *ngIf="isLoading == false" class="ll-hero container">
  <div class="grid grid-cols-12 gap-8">
    <div class="col-span-12 md:col-span-3 xl:col-span-3"></div>
    <mat-card class="col-span-12 md:col-span-6 xl:col-span-6 border p-5">
      <h1 class="text-2xl font-bold">Edit Profile</h1>
      <div class="mb-4 mt-6">
        <label class="block text-gray-700 text-sm font-semibold mb-2" for="email"> Full Name </label>
        <input
          pInputText
          class="
            text-sm
            appearance-none
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            bg-gray-100
            leading-tight
            focus:outline-none
            focus:shadow-outline
            h-10
          "
          id="name"
          type="text"
          name="name"
          placeholder="Full Name"
          [(ngModel)]="user.name"
        />
      </div>
      <div class="mb-4 mt-6">
        <label class="block text-gray-700 text-sm font-semibold mb-2" for="email"> Email </label>
        <input
          pInputText
          class="
            text-sm
            appearance-none
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            bg-gray-100
            leading-tight
            focus:outline-none
            focus:shadow-outline
            h-10
          "
          id="email"
          type="text"
          name="email"
          placeholder="Email address"
          [(ngModel)]="user.email"
        />
      </div>
      <div class="mb-4 mt-6">
        <label class="block text-gray-700 text-sm font-semibold mb-2" for="email"> City </label>
        <input
          pInputText
          class="
            text-sm
            appearance-none
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            bg-gray-100
            leading-tight
            focus:outline-none
            focus:shadow-outline
            h-10
          "
          id="city"
          type="text"
          name="city"
          placeholder="City"
          [(ngModel)]="user.city"
        />
      </div>
      <div class="mb-4 mt-6">
        <label class="block text-gray-700 text-sm font-semibold mb-2" for="email"> Address </label>
        <input
          pInputText
          class="
            text-sm
            appearance-none
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            bg-gray-100
            leading-tight
            focus:outline-none
            focus:shadow-outline
            h-10
          "
          id="address"
          type="text"
          name="address"
          placeholder="Address"
          [(ngModel)]="user.address"
        />
      </div>
      <div class="mb-4 mt-6">
        <label class="block text-gray-700 text-sm font-semibold mb-2" for="email">Mobile </label>
        <input
          pInputText
          class="
            text-sm
            appearance-none
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            bg-gray-100
            leading-tight
            focus:outline-none
            focus:shadow-outline
            h-10
          "
          id="mobile"
          type="text"
          name="mobile"
          placeholder="Mobile Number"
          [(ngModel)]="user.mobile_number"
        />
      </div>

      <div class="flex w-full mt-6">
        <button
          class="
            w-full
            bg-gray-800
            hover:bg-grey-900
            text-white text-sm
            py-2
            px-4
            font-semibold
            rounded
            focus:outline-none
            focus:shadow-outline
            h-10
          "
          type="button"
          (click)="update()"
        >
          Update Profile
        </button>
      </div>
    </mat-card>
    <div class="col-span-12 md:col-span-3 xl:col-span-3"></div>
  </div>
</div>
